* {
    margin: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    background-color: rgb(56, 67, 104);
    color: white;
    width: 30em;
    height: 30em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.2em 1.5em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover h1 {
    margin: 0.5em 0;
    padding: 0;
}

input {
    margin-top: 1em;
    border: none;
    background-color: rgb(221, 228, 248);
    height: 4em;
    width: 60%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
}

input:focus {
    outline-color: rgb(32, 177, 255);
}

.login-btn {
    margin: 2em auto;
    width: 40%;
    height: 3em;
    background-color: rgb(86, 99, 143);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover {
    transform: scale(1.02);
}

.login-btn:active {
    background-color: rgb(66, 77, 114);
}

.ErrorMessage{
    color: red;
}

@media (prefers-color-scheme: dark){
    input {
        background-color: #1f2023;
    }

    input::placeholder {
        color: #dadada;
    }
}
