* {
    margin: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    background-color: rgb(56, 67, 104);
    color: white;
    width: 30em;
    height: 30em;
    position: relative;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cover h1 {
    margin: 0.5em 0;
    padding: 0;
}

.cover input {
    margin-top: 1em;
    border: none;
    background-color: rgb(25, 33, 58);
    height: 4em;
    width: 60%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
}
.cover input:focus {
    outline-color: rgb(25, 33, 58);
}

/*Magic :D, fixes the weird autofill colour change we had*/
.cover input:-webkit-autofill,
.cover input:-webkit-autofill:hover,
.cover input:-webkit-autofill:focus,
.cover input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px rgb(25, 33, 58) inset;
    box-shadow: 0 0 0 50px rgb(25, 33, 58) inset;
}

.login-btn {
    margin: 2em auto;
    width: 40%;
    height: 3em;
    background-color: rgb(103, 126, 190);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border-radius: 0.25em;
    cursor: pointer;
}
.login-btn:hover {
    transform: scale(1.02);
    background-color: rgb(108, 136, 212);
}
.login-btn:active {
    background-color: rgb(82, 102, 158);
}

.ErrorMessage{
    color: red;
}

@media (prefers-color-scheme: dark){
    input {
        background-color: #1f2023;
    }
    input::placeholder {
        color: #dadada;
    }
}
